.button {
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    
    &--primario {
        color: #fff;
        background-color: #00b4d8;
        border-radius: 4px;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}