@use 'variaveis';

.footer {
    background-image: linear-gradient(to bottom right, variaveis.$corCinzaEscuro, variaveis.$corPreta);
    color: variaveis.$corBranca;
    padding: 16px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}